body{
	font-family: 'Roboto', sans-serif;
}
.wrapper{
	display: flex;
	flex-direction: column;
	height: 100%;
}

.main{
	flex: 1 1 auto;
}

.container{
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

.header__body{
	background:#7FAFF6;
	height: 100px;
	display: flex;
	align-items: center;
	margin-bottom: 15px;
	width: 100%;
}

.popup-btn__open{
	width: 206px;
	height: 39px;
	background: #A5C7F9;
	color: white;
	border-radius: 5px;
	margin-left: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	font-size: 20px;
}

.block-1{
	display: grid;
	grid-template-columns: 390px 590px 160px;
	grid-template-rows: repeat(2, 198px);
	gap: 15px;
	margin-bottom: 45px;
}
@media (max-width: 1199px){
	.block-1{
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(3, 150px);
	}
}
.item-1{
	background: #8AD191;
}

.one{
	position: relative;
}

.one::before{
	content: "1";
	color: white;
	font-size: 53px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.two::before{
	content: "2";
	color: white;
	font-size: 53px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.three::before{
	content: "3";
	color: white;
	font-size: 53px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.four::before{
	content: "4";
	color: white;
	font-size: 53px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.five::before{
	content: "5";
	color: white;
	font-size: 53px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.two{
	position: relative;
}
.three{
	position: relative;
	
}
@media (max-width: 1199px){
	.three{
		grid-column: 1/3;
	}
}
.four{
	position: relative;
	grid-column: 1/3;
}
@media (max-width: 1199px){
	.four{
		grid-column: 1/2;
	}
}
.five{
	position: relative;
}

.block-2{
	display: flex;
	margin-bottom: 130px;
	width: 100%;
	justify-content: space-around;
}
@media (max-width: 768px){
	.block-2{
		flex-wrap: wrap;
	}
}
.item-2 img{
	width: 100%;
	height: 100%;
}
.item-2 {
	margin: 0 10px;
}
@media (max-width: 768px){
	.item-2{
		margin-bottom: 15px;
	}
}
.footer__body{
	height: 100px;
	background: #7FAFF7;
	width: 100%;
}


.popup {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	top: -250%;
	width: 100%;
	height: 100%;
}
.popup__area {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.popup:target {
	opacity: 1;
	visibility: visible;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.popup__body {
	width: 400px;
	height: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media (max-width: 768px){
	.popup__body {
		width: 290px;
		height: 290px;
	}
}
.popup-btn__close {
	position: absolute;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 43px;
	height: 39px;
	background: #7FAFF6;
	border-radius: 5px;
	color: white;
	top: 15px;
	right: 15px;
}
.popup__text {
	font-size: 53px;
	line-height: 62px;
}

.hide{
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}